.CalculatorCell {
  /* display: flex; */
  /* justify-content: center; */
  width: 20px;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: groove;
  border-radius: 5px;
  box-sizing: border-box;
}